<div class="list-group">
    <a href="/creators/" class="list-group-item">Creators</a>
    <a href="/rpg-books/" class="list-group-item">RPG Books</a>
    <a href="/other-games/" class="list-group-item">Other Games</a>
    <a href="/magazine-titles/" class="list-group-item">Magazine Titles</a>
    <a href="/fiction-books/" class="list-group-item">Fiction Books</a>
    <a href="/comic-titles/" class="list-group-item">Comic Titles</a>
    <a href="/short-stories/" class="list-group-item">Short Stories</a>
    <a href="/publishers/" class="list-group-item">Publishers</a>
    <a href="/game-lines/" class="list-group-item">Game Lines</a>
</div>
