{% extends "layout.html.twig" %}

{% block content %}
{{ include('inc/pagination.html.twig', {slug: 'comic-titles', prefix: prefix}) }}

{% if comic_titles | length > 0 %}
    <ul>
    {% for comic_title in comic_titles %}
        <li><a href="/comic-title/{{ comic_title.comic_title_id }}/">
            {{ comic_title.title }}
        </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Comic Titles Found</p>
{% endif %}
{% endblock content %}
