{% extends "layout.html.twig" %}

{% block content %}
{{ include('inc/pagination.html.twig', {slug: 'fiction-books', prefix: prefix}) }}

{% if fiction_books | length > 0 %}
    {% set rows = (fiction_books|length / 2)|round(0, 'ceil') %}
    <div class="row">
    {% for column in fiction_books|batch(rows, false) %}
        <div class="col-md-6"><ul>
        {% for fiction_book in column %}
        {% if fiction_book != false %}
            <li><a href="/fiction-book/{{ fiction_book.fiction_book_id }}/">
                {{ fiction_book.title }}
            </a></li>
        {% endif %}
        {% endfor %}
        </ul></div>
    {% endfor %}
    </div>
{% else %}
    <p>No Fiction Books Found</p>
{% endif %}
{% endblock content %}
