{% extends "layout.html.twig" %}

{% block content %}
<h1>{{ game_type.game_type }}</h1>
<dl class="dl-horizontal">
    {{ include('inc/other_games.html.twig', {entity: game_type}) }}
</dl>
{% endblock content %}
