{% extends "layout.html.twig" %}

{% block content %}
<div class="container">
    <h1>Pen &amp; Paper</h1>
    <ul>
    <li><a href="/creators/">Creators</a></li>
    <li><a href="/books/">Books</a></li>
    <li><a href="/othergames/">Other Games</a></li>
    <li><a href="/articles/">Magazine Articles</a></li>
    <li><a href="/magazines/">Magazine Issues</a></li>
    <li><a href="/fiction/">Fiction</a></li>
    <li><a href="/comics/">Comics</a></li>
    <li><a href="/shortfiction/">Short Fiction</a></li>
    <li><a href="/publishers/">Publishers</a></li>
    </ul>
</div>
{% endblock content %}
