{% extends "layout.html.twig" %}

{% block content %}
{{ include('inc/pagination.html.twig', {slug: 'magazine-titles', prefix: prefix}) }}

{% if magazine_titles | length > 0 %}
    <ul>
    {% for magazine_title in magazine_titles %}
        <li><a href="/magazine-title/{{ magazine_title.magazine_title_id }}/">
            {{ magazine_title.title }}
        </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Magazine Titles Found</p>
{% endif %}
{% endblock content %}
