{% extends "layout.html.twig" %}

{% block content %}
{{ include('inc/pagination.html.twig', {slug: 'publishers', prefix: prefix}) }}

{% if publishers | length > 0 %}
    <ul>
    {% for publisher in publishers %}
        <li><a href="/publisher/{{ publisher.publisher_id }}/">
            {{ publisher.publisher }}
        </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Publishers Found</p>
{% endif %}
{% endblock content %}
