{% extends "layout.html.twig" %}

{% block content %}
{{ include('inc/pagination.html.twig', {slug: 'publishers', prefix: prefix}) }}

{% if publishers | length > 0 %}
    {% set rows = (publishers|length / 2)|round(0, 'ceil') %}
    <div class="row">
    {% for column in publishers|batch(rows, false) %}
        <div class="col-md-6"><ul>
        {% for publisher in column %}
        {% if publisher != false %}
            <li><a href="/publisher/{{ publisher.publisher_id }}/">
                {{ publisher.publisher }}
            </a></li>
        {% endif %}
        {% endfor %}
        </ul></div>
    {% endfor %}
    </div>
{% else %}
    <p>No Publishers Found</p>
{% endif %}
{% endblock content %}
