{% extends "layout.html.twig" %}

{% block content %}
{{ include('inc/pagination.html.twig', {slug: 'rpg-books', prefix: prefix}) }}

{% if rpg_books | length > 0 %}
    <ul>
    {% for rpg_book in rpg_books %}
        <li><a href="/rpg-book/{{ rpg_book.rpg_book_id }}/">
            {{ rpg_book.title }}
        </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No RPG Books Found</p>
{% endif %}
{% endblock content %}
